@import "./App.scss";
@import "./CreateNote.scss";

.confirm-dialog {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
  box-sizing: border-box;
  border-radius: $border-radius;
  opacity: 0;
  animation-name: dialogTransition;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;

  &__container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 20px;
    border-radius: $border-radius;

    &__question {
      font-size: 30px;
      margin: 0 10px 20px 10px;
    }
  }
}
